*{
box-sizing:border-box;
}

body {
margin:0;
font-family:'Segoe UI',sans-serif;
background:#f4f6fb;
}

/* ================= SIDEBAR ================= */

.sidebar{
width:230px;
background:#0f1e40;
color:white;
padding:25px;
position:fixed;
height:100vh;
}

.sidebar h2 a{
display:block;
color:orange;
padding:12px;
border-radius:6px;
text-decoration:none;
transition:0.3s;
}

.sidebar a{
display:block;
color:rgb(237,235,235);
padding:12px;
margin:5px 0;
text-decoration:none;
border-radius:6px;
transition:0.3s;
}

.sidebar a:hover{
background:#5b3df5;
}

/* ================= MAIN ================= */

.main{
margin-left:230px; /* fixed to match sidebar */
padding:40px;
}

/* ================= HOME ================= */

.home-container{
text-align:center;
}

.welcome-card{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.05);
margin-bottom:40px;
}

.welcome-card h1{
font-size:32px;
color:#19326c;
}

.welcome-card p{
color:#555;
margin:15px 0 25px;
}

.features{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.feature-box{
background:white;
padding:25px;
width:300px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.05);
}

.feature-box h3{
margin-bottom:10px;
}

.feature-box h3 i{
margin-right:8px;
color:#5b3df5;
}




/* ================= REGISTER PAGE ================= */

/* ================= AUTH ================= */

.auth-page{
display:flex;
justify-content:center;
align-items:center;
min-height:80vh;
}

.auth-container{
width:380px;
margin:40px auto;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.form-group{
margin-bottom:12px;
}

.form-group label{
font-size:13px;
color:#333;
display:block;
margin-bottom:5px;
}

.form-group input{
width:100%;
padding:8px;
border-radius:6px;
border:1px solid #ddd;
font-size:13px;
}

.btn-primary{
background:#5b3df5;
color:white;
border:none;
padding:10px;
border-radius:6px;
font-weight:bold;
cursor:pointer;
width:100%;
}

.auth-link{
text-align:center;
margin-top:12px;
font-size:13px;
}

.auth-link a{
color:#5b3df5;
text-decoration:none;
font-weight:600;
}



/* ================= DASHBOARD ================= */

.dashboard-container{
max-width:1200px;
margin:auto;
}

.dashboard-header h1{
font-size:30px;
color:#1e366f;
}

.dashboard-layout{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.dashboard-box{
background:white;
padding:25px;
width:350px;
height:180px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.05);
text-align:center;
}

.dashboard-box h3{
margin-top:15px;
font-size:40px;
color:#22418b;
}

.dashboard-box p{
font-size:18px;
font-weight:600;
color:#4a4a4b;
}



/* Recent Enrollment Section */
.recent-enrollment-section {
    margin-top: 50px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.recent-enrollment-section h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #162c5e;
}

/* Table Container */
.table-container {
    overflow-x: auto;
}

/* Table Styling */
.enrollment-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.enrollment-table thead {
    background-color: #e8ebed;
}

.enrollment-table th {
    text-align: left;
    padding: 12px 15px;
    font-weight: 600;
    color: #162c5e;
}

.enrollment-table td {
    padding: 12px 15px;
    border-top: 1px solid #eee;
    color: #555;

}

/* Hover Effect */
.enrollment-table tbody tr:hover {
    background-color: #f9fafc;
    transition: 0.2s ease-in-out;
}

/* No Data */
.no-data {
    text-align: center;
    padding: 20px;
    color: #999;
}



/* ================= COURSE GRID ================= */

.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 per row */
    gap: 50px;
}

.course-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: 0.3s ease;
}

.course-card:hover {
    transform: translateY(-8px);
}

.course-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.course-content {
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

.instructor {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    color: #1E40AF;
}

.free-badge{
background: green;
color: white;
padding: 7px 12px;
border-radius: 5px;
font-size: 16px;
}

.view-btn {
    background: #2563eb;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.view-btn:hover {
    background: #1e40af;
}






/* ============================= */
/* COURSE DETAIL PAGE */
/* ============================= */

.detail-page {
    background: #f4f6f9;
}

.course-detail-container {
    max-width: 750px;  
    margin: auto;
    padding: 15px 20px;  
}


.course-header h1 {
    font-size: 34px;  
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 8px;
}

.course-meta {
    display: flex;
    gap: 20px;   
    color: #6b7280;
    font-size: 13px;  
    margin-bottom: 20px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ================= SINGLE MAIN BOX ================= */

.course-main-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

/* ================= IMAGE FIXED WIDTH ================= */

.course-detail-image {
    text-align: center;
    margin-bottom: 15px;
}

.course-detail-image img{
max-width:500px;
width:100%;
height:250px;
border-radius:10px;
}


/* About section inside same box */
.course-about h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #1f2937;
}

.course-about p {
    font-size: 16px;
    color: #4b5563;
    line-height: 1.6;
}



/* ================= ACTION SECTION ================= */

.course-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.price {
    background: white;
    color: #1E40AF;
    padding: 7px 12px;
    border: 2px solid #1E40AF;
    border-radius: 5px;
    font-size: 16px;

}

.free-badge{
background: green;
color: white;
padding: 7px 12px;
border-radius: 5px;
font-size: 16px;
}

.buttons {
    display: flex;
    gap: 15px;
}


.enroll-btn {
    background: green;
    color: white;
    padding: 8px 18px;  
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

.buy-btn {
    background: #ff6b00;
    color: white;
    padding: 8px 18px;   
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

.buy-btn:hover{
background:#e65c00;
}




/* Back Button */
.back-btn {
    padding: 8px 18px;   /* smaller */
    border: 2px solid #2563eb;
    border-radius: 6px;
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

.back-btn:hover {
    background: #1e40af;
    color: white;
}


.lesson-section{
margin-top:30px;
}

.lesson-row{
display:flex;
justify-content:space-between;
align-items:center;
background:#fff;
padding:14px 18px;
margin-bottom:10px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.lesson-title{
font-size:16px;
font-weight:500;
display:flex;
align-items:center;
gap:10px;
color:#1f2937;
}

.lesson-title i{
color:#2563eb;
font-size:18px;
}

.lesson-action{
display:flex;
gap:15px;
align-items:center;
}

.preview-btn{
color:#2563eb;
text-decoration:none;
font-weight:600;
}

.preview-btn:hover{
text-decoration:underline;
}

.mark-text{
color:#444;
font-weight:500;
}

.completed-text{
color:#444;
font-weight:600;
}

/* ================= PROGRESS TABLE ================= */


.progress-section {
    margin-top: 50px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.progress-section h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #162c5e;
}


.progress-bar {
    width: 100%;
    background: #e0e0e0;
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-fill {
    height: 100%;
    background: #2563eb;
    transition: 0.4s ease-in-out;
    border-radius: 10px 0 0 10px;
}


.table-container {
    overflow-x: auto;
}

.certificate-box{
margin-top:30px;
text-align:center;
}

.certificate-btn{
background:#2563eb;
color:white;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.certificate-btn:hover{
background:#1e4ed8;
}



/* ================= ENROLL PAGE ================= */

.enroll-container {
    width: 100%;
    max-width: 420px;
    margin: 60px 320px;   /* Center horizontally */
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

/* Heading */

.enroll-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #142854;
    font-size: 24px;
    font-weight: bold;
}



.form-enroll {
    margin-bottom: 18px;
}

.form-enroll label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-enroll input {
    width: 95%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.3s ease;
    font-size: 14px;
    background: #f9f9f9;
}



.form-enroll input:focus {
    border-color: #5b3df5;
    background: #ffffff;
    box-shadow: 0 0 0 3px rgba(91, 61, 245, 0.15);
}



.btn-primary {
    background: #5b3df5;
    color: white;
    border: none;
    padding: 11px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 15px;
    width: 100%;
}

.btn-primary:hover {
    background: #452de0;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(91, 61, 245, 0.25);
}



/* ========== Payment ======== */

.price-btn{
background:#ff6b00;
color:white;
padding:8px 14px;
text-decoration:none;
border-radius:6px;
font-weight:500;
}

.price-btn:hover{
background:#e65c00;
}


/* Main Layout */
.checkout-wrapper{
display:flex;
gap:40px;
max-width:900px;
margin:50px auto;
}

/* LEFT SIDE */
.course-summary{
flex:1;
}

.pymt-course-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.pymt-course-card h3{
margin-bottom:10px;
}

.pymt-course-price{
font-size:22px;
font-weight:600;
color:#ff6b00;
margin:15px 0;
}

.secure{
color:green;
font-size:14px;
}


/* RIGHT SIDE */
.payment-section{
flex:1.2;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

/* Payment Method */
.payment-method{
margin-top:20px;
}

.payment-method label{
display:flex;
align-items:center;
gap:10px;
font-weight:500;
margin-bottom:10px;
}

.payment-method input[type="text"]{
width:100%;
padding:10px;
margin-bottom:10px;
border:1px solid #ddd;
border-radius:6px;
}

/* Button */
.pay-btn{
width:100%;
background:#28a745;
color:white;
border:none;
padding:14px;
font-size:16px;
border-radius:8px;
cursor:pointer;
margin-top:15px;
}

.pay-btn:hover{
background:#218838;
}


/* UPI Logos */
.upi-logos{
display:flex;
gap:15px;
margin:10px 0;
justify-content:center;
}

.upi-logos img{
width:200px;
height:auto;
cursor:pointer;
transition:0.2s;
}

.upi-logos img:hover{
transform:scale(1.1);
}

.menu-toggle{
display:none;
}


/* ================= RESPONSIVE ================= */

@media (max-width:1200px){

.course-container{
grid-template-columns:repeat(2,1fr);
}

}

/* =================== MOBILE HORIZONTAL NAVBAR =================== */
@media (max-width:768px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 10px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #0f1e40;
        flex-wrap: wrap;
        z-index: 999;
    }

    /* Logo */
    .logo {
        margin: 0;
        font-size: 20px;
    }

    .logo a {
        color: orange;
        text-decoration: none;
        font-weight: bold;
    }

    /* Sidebar links hidden by default */
    .sidebar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    /* Show links when toggle active */
    .sidebar.active .sidebar-links {
        display: flex;
    }

    .sidebar-links a {
        color: white;
        padding: 10px 10px; 
        margin: 0;
    }

    /* ---------------- Menu Toggle Button ---------------- */
    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px; 
        background: #2563eb;
        color: white;
        border: none;
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
        z-index: 1001;
    }

    /* ---------------- Main Content ---------------- */
    .main {
        margin-left: 0; 
        padding-top: 70px; 
        padding-left: 40px; 
        padding-right: 40px; 
    }

    /* ---------------- Course Grid ---------------- */
    .course-container {
        grid-template-columns: 1fr; 
    }

    /* Dashboard layout */
    .dashboard-layout {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-box {
        width: 100%;
    }

    /* Lesson section */
    .lesson-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    /* Course action buttons */
    .course-actions {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

    /* Auth & Enroll container */
    .auth-container, .enroll-container {
        width: 90%;
        margin: 20px auto;
    }

}


/* Tablet */
@media (max-width:992px){

    .checkout-wrapper{
    flex-direction:column;
    gap:30px;
    margin:40px 20px;
    }

    .course-summary{
    width:100%;
    }

    .payment-section{
    width:100%;
    }

    .upi-logos img{
    width:160px;
    }

}

/* Mobile */
@media (max-width:768px){

    .checkout-wrapper{
    flex-direction:column;
    gap:25px;
    margin:30px 15px;
    }

    .pymt-course-card{
    padding:20px;
    }

    .payment-section{
    padding:20px;
    }

    .upi-logos{
    flex-wrap:wrap;
    justify-content:center;
    }

    .upi-logos img{
    width:120px;
    }

    .pay-btn{
    font-size:15px;
    padding:12px;
    }

}

/* Small Mobile */

@media (max-width:480px){

    .checkout-wrapper{
    margin:20px 10px;
    }

    .pymt-course-card{
    padding:18px;
    }

    .payment-section{
    padding:18px;
    }

    .pymt-course-price{
    font-size:20px;
    }

    .price-btn{
    padding:7px 12px;
    font-size:14px;
    }

    .pay-btn{
    padding:12px;
    font-size:14px;
    }

    .upi-logos img{
    width:100px;
    }
 
}
}




/* Mobile Sidebar */

@media (max-width:768px){

.menu-toggle{
display:block;
}

.sidebar{
left:-250px;
transition:0.3s;
}

.sidebar.active{
left:0;
}

}