
{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="checkout-wrapper">

<!-- LEFT SIDE : COURSE SUMMARY -->
<div class="course-summary">

<h2>Checkout</h2>

<div class="pymt-course-card">

<h3>{{ course.title }}</h3>

<p>Instructor: {{ course.instructor }}</p>

<div class="pymt-course-price">
₹ {{ course.price }}
</div>

<p class="secure">
 Secure Payment
</p>

</div>

</div>


<!-- RIGHT SIDE : PAYMENT -->
<div class="payment-section">

<h3>Select Payment Method</h3>

<form method="POST">
{% csrf_token %}

<!-- UPI Payment -->
<div class="payment-method">

<label>
<input type="radio" name="payment">
UPI Payment
</label>

<div class="upi-logos">


<img src="{% static 'images/paymentLogo.png' %}">

</div>

<input type="text" placeholder="Enter UPI ID">

</div>



<!-- Card Payment -->
<div class="payment-method">

<label>
<input type="radio" name="payment">
Debit / Credit Card
</label>

<input type="text" placeholder="Card Number">
<input type="text" placeholder="Expiry MM/YY">
<input type="text" placeholder="CVV">

</div>

<button class="pay-btn">
Pay ₹{{ course.price }}
</button>

</form>

</div>

</div>
{% endblock %}